@model IEnumerable<Scaffolding.Models.FeplField>

@{
    ViewData["Title"] = "Design";
}

<h1>@ViewBag.modelName Design</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Field Id
            </th>
            <th>
                Field Name
            </th>
            <th>
                Data Type
            </th>
            <th>
                Max Size
            </th>
            <th>
                Primary Key
            </th>
            <th>
                Required
            </th>
            <th>
                Foreign Key
            </th>



        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.id
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                    @item.dataTypeNav.sqLite
            </td>
            <td>
                @(item.length>0?item.length:"")
            </td>
            <td>
                @(item.isPrimaryKey>0?"Yes":"")
            </td>
            <td>
                @(item.isRequired>0?"Yes":"")
            </td>
            
            <td>
                    @(!string.IsNullOrEmpty(item.foreignKeyNav?.tableNav?.name) ? ($"{item.foreignKeyNav?.tableNav?.name} : {@item.foreignKeyNav?.name} ({@item.foreignKeyId})") : "")
            </td>



        </tr>
}
    </tbody>
</table>
